<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="mobileservices.asmx" />
      </files> 
    </defaultDocument>
    
  </system.webServer>

  <appSettings>
    <add key="DBServer" value="192.168.1.189"/>
    <add key="DBName" value="OrderLinc"/>
    <add key="DBUsername" value="hsn_builder"/>
    <add key="DBPassword" value="h$n2oo9"/>
    <add key="DBSecurity" value="1"/>
    <add key="VersionMajor" value="2"/>
    <add key="VersionMinor" value="2"/>
    <add key="EnableLogging" value="0"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" >
            <security mode="Transport">
          <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          <message clientCredentialType="Certificate" algorithmSuite="Default" />
        </security>
        </binding>
       
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://testwslogin.orderlinc.com/OrderLincRegistry.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="AuthenticationWS.Service1Soap" name="Service1Soap" />
     
    </client>
  </system.serviceModel>

 
  
</configuration>
